* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 40px;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.div1 {
  background: #1dd1a1;
  padding: 80px;
  text-align: center;
}
.div2 {
  grid-row: span 2;
  grid-column: span 2;
  background: #ee5253;
  padding: 80px;
  text-align: center;
  column-span: all;
}
.div3 {
  background: #576574;
  padding: 80px;
  text-align: center;
}
